* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #f0fdfa;
  color: #042f2e;
}

html {
  font-size: 10px;
}

body {
  background-color: #f0fdfa;
  padding: 1rem;
}

.container {
  background-color: #042f2e;
  max-width: 600px;
  min-height: 90vh;
  margin: auto;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem
}

.heading {
  font-size: 3.5rem;
  text-align: center;
  color: #f0fdfa;
}

.inputField {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField input {
  border: none;
  outline: none;
  box-shadow: 0 0 10px #575757;
  height: 5rem;
  flex-basis: 80%;
  font-size: 1.6rem;
  padding: .5rem 1.2rem;
  border-radius: .7rem;
  background-color: #f0fdfa;
  color: #042f2e;
}

.inputField input::placeholder {
  color: #042f2e;
}

.inputField button {
  height: 5rem;
  margin-left: .7rem;
  padding: 1rem 3rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  outline: none;
  color: #042f2e;
  background-color: #ccfbf1;
}

.todos {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
}

.allText {
  display: flex;
}

.allText input {
  margin-right: .6rem;
  outline: 0;
  border: 1px solid #f0fdfa;
}

.allText input:checked {
  background-color: #f0fdfa;
}

.todos .text {
  color: #f0fdfa;
  font-size: 2rem;
  text-transform: capitalize;
}

.text.checked {
  text-decoration: line-through;
  color: #f0fdfa36;
}

.todos .action {
  padding: .5rem;
  display: flex;
}

.todos .action .edit,
.todos .action .delete {
  font-size: 2rem;
  padding: .7rem;
  border-radius: .5rem;
  margin-left: 1rem;
  color: #042f2e;
  background-color: #ccfbf1;
}

.todos .action .delete {
  background-color: #a70101;
  color: #f0fdfa;
}

@media screen and (max-width:426px) {
  html {
    font-size: 7px;
  }
}